<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video to Audio Converter</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      /* Define custom colors using Tailwind's color palette approach */
      .onean-bg {
        background-color: #404041;
      } /* Onean Blue */
      .onean-text {
        color: #4ecdc4;
      } /* Onean Mint */
      .hover\:onean-bg:hover {
        background-color: #23ada4;
      } /* Lighter Onean for hover */
      .onean-border {
        border-color: #1a535c;
      }
      .onean2-bg {
        background-color: #cdd0d1;
      }
    </style>
  </head>

  <body class="bg-violet-100 flex flex-col min-h-screen onean2-bg m-3">
    <!-- Title Section -->
    <div
      id="title"
      class="mb-6 text-center w-full onean-bg shadow-md flex justify-between items-center"
    >
      <!-- Home Button -->
      <a
        href="/"
        class="ml-4 py-2 px-4 text-xl onean-text hover:bg-gray-700 rounded-lg"
        >Home</a
      >

      <!-- Page Title -->
      <h1 class="p-3 text-3xl font-bold onean-text">Video Summarizer</h1>

      <!-- Placeholder for right-aligned content if needed -->
      <div class="mr-4"></div>
    </div>

    <div class="container mx-auto flex space-x-4 w-full mt-4">
      <!-- Left Section -->
      <div id="left" class="flex-1 bg-white shadow-md p-4 rounded-lg">
        <div id="file" class="mb-6">
          <h2 class="text-xl font-semibold text-gray-700 mb-4">
            Select an Audio File:
          </h2>
          <form
            id="uploadForm"
            class="form"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form-group mb-4">
              <input
                type="file"
                id="ifile"
                name="file"
                class="mt-1 block border-2 w-4/5 float-left text-gray-500 onean-border rounded-md p-2 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
              />
              <button
                type="button"
                id="cancelButton"
                onclick="resetForm()"
                class="mt-2 ml-5 bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600"
              >
                Cancel
              </button>
            </div>

            <!-- Language Selection Dropdown -->
            <div class="form-group mb-4">
              <label for="language" class="hidden block text-gray-700 font-medium mb-2"
                >Select Audio Language:</label
              >
              <select
                id="language"
                name="language"
                class="block hidden border-2 w-full text-gray-500 onean-border rounded-md p-2 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
              >
                <option value="en" selected>English (US)</option>
                <!-- <option value="en">English (UK)</option>
                <option value="ta-IN">Tamil (India)</option> -->
              </select>
            </div>

            <button
              type="submit"
              class="mt-1 w-full onean-bg text-white py-2 px-4 rounded-md hover:onean-bg focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50"
            >
              Upload and Convert
            </button>
          </form>

          <div class="mt-3 onean-text font-semibold font-serif">
            <a
              href="#"
              id="downloadLink"
              download="transcription.txt"
              style="display: none"
              >Download Transcription</a
            >
          </div>
        </div>

        <!-- Audio Player Section -->
        <div id="audioPlayer" class="mb-6" style="display: none">
          <audio controls class="w-full" id="audioElement">
            <source id="audioSource" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </div>

        <div id="translate" class="flex-1 overflow-auto">
          <textarea
            name="Translate"
            id="result_translate"
            class="w-full h-full p-2 onean-border border-2 rounded-md resize-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            rows="10"
          ></textarea>
        </div>
      </div>

      <!-- Right Section -->
      <div id="right" class="flex-1 bg-white shadow-md p-4 rounded-lg">
        <div class="h-full overflow-auto">
          <h2 class="text-xl font-semibold text-gray-700 mb-4">Summary:</h2>
          <textarea
            id="result_summary"
            class="w-full h-48 md:h-full border-2 p-3 onean-border rounded-md resize-none focus:outline-none focus:ring-2 focus:ring-violet-500"
            placeholder="The summary will appear here..."
          ></textarea>
        </div>
      </div>
    </div>

    <script>
      function resetForm() {
        $("#ifile").val(""); // Reset the file input
        $("#result_translate").val(""); // Clear the textarea
        $("#result_summary").val(""); // Clear the summary textarea
        $("#audioPlayer").hide(); // Hide the audio player
      }

      $("#uploadForm").on("submit", function (e) {
        $("#result_translate").val(""); // Clear the textarea
        $("#result_summary").val(""); // Clear the summary textarea
        e.preventDefault();
        var formData = new FormData(this);

        // Upload file and get the audio details and length of chunks
        $.ajax({
          url: "/file",
          type: "POST",
          data: formData,
          contentType: false,
          processData: false,
          success: async function (response) {
            // Display the audio file on the webpage
            $("#audioSource").attr("src", "/uploads/" + response.audio_file);
            $("#audioPlayer").show();
            $("#audioElement")[0].load();

            // Process chunks one by one
            await processChunks(response.length);

            // After all chunks are processed, call the final summarizer
            $.ajax({
              url: "/final_summarizer",
              type: "POST",
              contentType: false,
              processData: false,
              success: function (response2) {
                if (response2.full_summary) {
                  $("#result_summary").val(response2.full_summary);
                } else {
                  $("#result_summary").val(response2.error);
                }
              },
              error: function () {
                alert("Failed to generate summary. Please try again.");
              },
            });
          },
          error: function () {
            alert("Failed to upload file. Please try again.");
          },
        });
      });

      async function processChunks(len) {
        for (let i = 0; i < len; i++) {
          try {
            await transcribeChunk(i);
            await sleep(20000); // Wait for 20 seconds between each chunk
          } catch (error) {
            console.error("Error processing chunk " + i + ": " + error);
          }
        }
      }

      async function transcribeChunk(i) {
        return new Promise((resolve, reject) => {
          $.get("/transcribe_chunk/" + i, function (data) {
            // Append transcribed chunk to the translate textarea
            $("#result_translate").val($("#result_translate").val() + data);
            resolve(); // Resolve the promise after processing the chunk
          }).fail(function () {
            reject("Failed to transcribe chunk " + i); // Reject the promise on failure
          });
        });
      }

      // Sleep function to create a delay
      function sleep(ms) {
        return new Promise((resolve) => setTimeout(resolve, ms));
      }
    </script>
  </body>
</html>
